$main10-color: #FF711B;
$main8-color: #FF8C46;
$main6-color: #FFAF7E;
$main4-color: #FFF0E7;
$main2-color: #F7F7F7;

*{
    font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: $main2-color;
}

h4{
    font-size: small;
}

.price {
    color: gray;
    margin: auto;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;


}

body {
    background-color: white;
}

.menu {
    display: grid;
    grid-template-columns: auto auto;




}
/* Navbar container */
.navbar {
    overflow: hidden;
    width: 45px;
    background-color: $main10-color;
    font-family: Arial;
    border-radius: 20px;
  }
  
  .itemBox{
      border-radius: 10px;
      margin: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      h3{
        color: $main10-color;
      }
      a{
        text-decoration: none;
      }
      
  }
  
  .itemBox:hover {
    margin-left: 2px;
  background-color: $main6-color;
}

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: $main2-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: $main2-color;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
      margin-left: 2px;
    background-color: $main6-color;
  }


  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $main2-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: $main10-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: $main4-color;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .img {
    width: 120px;
     border-radius: 20px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .new {
    font-size: small;
    input{
      margin: 15px;
      padding: 10px;
      margin-top: 10px;
      width: 250px;
    }
  }
.updateBtn{
  background-color: $main6-color;
  border: $main10-color;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}

#delete{
  background-color: $main4-color;
  color: red;
  border-radius: 10px;
  border: 1px solid red;
}
  .search{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: $main8-color;
    color: $main2-color;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 0px;

  }

  .search:hover {
    margin-left: 2px;
  background-color: $main6-color;
}

  .updateItem{
    background-color: $main2-color;
    img{
      width: 300px;
    }

      input{
        margin: 10px;
        padding: 10px;
        width: 300px;
    }
  }



  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}